body {
    font-family: Arial, sans-serif;
   
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 320px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #007BFF; /* Blue color */
  }
  
  input[type="text"] {
    width: calc(100% - 90px);
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #007BFF; /* Blue border */
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .weather-info {
    margin-top: 20px;
  }
  
  #temperature {
    font-size: 28px;
    font-weight: bold;
    color: #28a745; /* Green color */
  }
  
  #description {
    margin-top: 10px;
    font-size: 20px;
    color: #dc3545; /* Red color */
  }
  